body{
    background-color: rgb(37, 37, 37);
}
.cgb{
    color: whitesmoke;
    background-color: tomato;
    border-radius: 4px;
    text-align: center;
    padding: 5px;
    font-family: Langar, cursive;
    word-spacing: 5px;
}
.c1{
    width: 640px;
    height: 70px;
    padding-left: 38px;
    background-color: rgb(49, 49, 49);
    float: right;
}
.c2{
    width: 640px;
    height: 70px;
    background-color: rgb(49, 49, 49);
    float: right;
}
.c3{
    width: 400px;
    height: 70px;
    background-color: rgb(49, 49, 49);
    float: right;
}
/*MENUBAR */
.m1{
    float: left;
    position: fixed;
}
/*----------------*/
.pfp{
    margin-left: 20px;
}
.git{
    position: absolute;
    bottom: 0;
    margin-bottom: 18px;
    background-color: tomato;
    text-decoration: none;
    color: wheat;
    font-family: 'Anonymous Pro', monospace;
    font-size: larger;
    padding: 5px 25px;
    border-radius: 4px;
}
.git2{
    position: absolute;
    bottom: 0;
    margin-left: 160px;
    margin-bottom: 18px;
    background-color: tomato;
    text-decoration: none;
    color: wheat;
    font-family: 'Anonymous Pro', monospace;
    font-size: larger;
    padding: 5px 25px;
    border-radius: 4px;
}
.c1 a:hover{
    background-color: rebeccapurple;
    color: whitesmoke;
}
.c2 a:hover{
    background-color: rebeccapurple;
    color: whitesmoke;
}
.text{
    color: tomato;
    padding: 200px;
}
.h12{
    color: tomato;
    padding: 100px;
}
.lgb{
    color:wheat;
    background:linear-gradient(to right, tomato, rgb(94, 0, 94));
    text-decoration: none;
    padding: 5px 45px;
    border-radius: 4px;
    font-size: xx-large;
    margin-right: 25px;
}
.lgb:hover{
    background: linear-gradient(to right, rgb(94, 0, 94), tomato);
}
.rgb{
    color: wheat;
    background: radial-gradient(rgb(63, 0, 88), rgb(128, 0, 60));
    padding: 5px 45px;
    border-radius: 4px;
    text-decoration: none;
    font-size: xx-large;
}
.rgb:hover{
    background: radial-gradient(green, tomato);
}
.csslinks{
    margin-bottom: 40px;
    font-family: 'Anonymous Pro', monospace;
}